body {
    background-color: #e6cdfd;
}
hr{
    border-style: none;
    border-top-style: double;
    border-color: aliceblue;
    border-width: 7px;
    width: 7%;
}
h1{
    color: #00cac3;
    font-family: system-ui;
}
h2{
    color: #00cac3;
    font-family: system-ui;
}
h3{
    color: #00cac3;
    font-family: system-ui;
}
p{
    color: #c92d9ab0;
    font-family: system-ui;
}
table{
    color: #c92d9ab0;
    font-family: monospace;
}
ul{
    color: #c92d9ab0;
    font-family: system-ui;
}
ol{
    color: #c92d9ab0;
    font-family: system-ui;
}
